<div class="image d-flex justify-content-center" *ngIf="ishide">
  <div class="container" *ngIf="ishidden">
    <div class="row d-flex justify-content-center">
      <div class="d-flex justify-content-center mt-5 col-md-12">
        <h1 class="h1">RecipeLib</h1>
      </div>
      <div class="main form-control d-flex justify-content-center mt-2 col-md-12">
        <input type="text" #food class="search" placeholder="Serach for recipe...">
      </div>
      <div class="buttondiv d-flex justify-content-center align-items-center mt-5 col-md-12 ">
        <button (click)="searchRecipe(food.value)" class="button ps-5 pe-5 font-size-xs">Search</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="!ishidden">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 d-flex justify-content-center mt-4 mb-4 h2pos">
        <h2>Showing result for "{{title}}"</h2>
      </div>
      <div class="col-md-8 d-flex justify-content-center mt-3" *ngFor="let data of recipes">
        <div [routerLink]="['/details',data.id,data.title,data.image]"
          class="col-md-12 d-flex justify-content-center recipes" (click)="getInfo()">
          <div class="col-md-4  div">
            <img [src]="data.image" class="cardimage">
          </div>
          <div class="col-md-4 div  d-flex justify-content-center align-items-center">
            <label class="text-center" for="">{{data.title}}</label>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>